{% extends "template.html" %}
{% block title %} Contact Us - Twin Peaks Capital{% endblock %}
{% block content %}
    <!-- Contact Info -->
    <br><br>
    <section id="contacts" class="p-5">
      <div class="container">
        <div class="row g-3">
          <div class="col-md">
            <h2 class="text-center mb-4"><br>Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <strong>Main Office: </strong>Unit 2201 South Island Place, 8 Wong Chuk Hang Road, Wong Chuk Hang, Hong Kong
              </li>
              <li class="list-group-item">
                <strong>Phone Number: </strong>+852 2572 5899
              </li>
              <li class="list-group-item">
                <strong>Email Address: </strong>admin@twinpeaks-capital.com
              </li>
              <li class="list-group-item">
                <strong>Social Media: </strong><a href="https://twitter.com/home">Twitter</a>, <a href="https://about.facebook.com/meta/">Meta</a>, <a href="https://web.wechat.com/">WeChat</a>
              </li>
            </ul>
          </div>
          <div class="col-md">
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}