{% extends "template.html" %}
{% block title %} Contact Us - Twin Peaks Capital{% endblock %}
{% block content %}
    <!-- Contact Info -->
    <section id="contacts" class="p-5">
      <div class="container">
        <h1 class="text-center mb-4">Contact Info</h1>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item">
            <strong>Main Office:</strong> <span class="text-secondary">Unit 2201 South Island Place, 8 Wong Chuk Hang Road, Wong Chuk Hang, Hong Kong</span>
          </li>
          <li class="list-group-item">
            <strong>Phone Number: </strong><span class="text-secondary">+852 2572 5899</span>
          </li>
          <li class="list-group-item">
            <strong>Email Address: </strong><span class="text-secondary">admin@twinpeaks-capital.com</span>
          </li>
          <li class="list-group-item">
            <strong>Social Media: </strong><span class="text-secondary"><a href="https://twitter.com/home">Twitter</a>, <a href="https://about.facebook.com/meta/">Meta</a>, <a href="https://web.wechat.com/">WeChat</a></span>
          </li>
        </ul>
        </div>
      </div>
    </section>
{% endblock %}