{% extends "template.html" %}
{% block title %}Technology Focus - Twin Peaks Capital{% endblock %}
{% block content %}
<section class="p-5">
  <h1 class="text-center">Focus on Innovative Technology</h1>
  <div class="container-fluid" style="width: 90%;">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img src="{{url_for('static',filename='icon_cn.png')}}" alt="" class="image-on-top">
          <div class="card-body">
            <h3 class="text-center">Digital Economy</h3>
            <p3>Enterprise Software<br>Consumer Tech<br>Artificial Intelligence</p3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img src="{{url_for('static',filename='icon_cn.png')}}" alt="" class="image-on-top">
          <div class="card-body">
            <h3 class="text-center">Web 3.0</h3>
            <p3>Blockchain<br>Crypto</p3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img src="{{url_for('static',filename='icon_cn.png')}}" alt="" class="image-on-top">
          <div class="card-body">
            <h3 class="text-center">Carbon Neutrality</h3>
            <p3>New Mobility<br>Alternative Energy</p3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
          <img src="{{url_for('static',filename='icon_cn.png')}}" alt="" class="image-on-top">
          <div class="card-body">
            <h3 class="text-center">Hard Tech</h3>
            <p3>AR/VR<br>Robotics<br>Semiconductor</p3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <h1 class="text-center">Focus on China <img src="{{url_for('static',filename='china.png')}}" width="50px" height="50px" alt=""></h1>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4">
        <h5>GDP Growth Contribution by Country from 2010-2020</h5>
        <img src="{{url_for('static',filename='chinagdpcontribution.png')}}" class="img-fluid" alt="">
      </div>
      <div class="col-md">
        <h2>
          China accounted for 47% global GDP growth in the past 10 years
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias deserunt, a itaque quos odit eveniet maiores omnis est quo, laboriosam?</p>
        <div class="p">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Quo inventore, odio ex dolorem, dolores, ducimus hic sapiente, iusto ipsa repellendus velit. Placeat, eaque nihil unde at vitae error asperiores voluptatum, nisi, aspernatur officiis animi consectetur aut explicabo maiores reprehenderit in.</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}