{% extends "template.html" %}
{% block title %}Twin Peaks Capital{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename='twinpeaks.jpg')}}); height:100vh; background-position:center;background-repeat: no-repeat; background-size:cover;">
  <h1 class="text-center" style="font-size: 5em">TWIN PEAKS CAPITAL</h1>
</div>

<!-- About us text -->
<section class="p-5 text-center">
  <div class="d-flex justify-content-center">
    <div>
      <h1>About Us</h1>
      <p2>Twin Peaks Capital is a <strong>growth orientated</strong> and <strong>total capital</strong> investment firm with a focus on <strong>technology and innovation,</strong> <br>managed by a <strong>seasoned team </strong>who spun out from an established<strong> multi-billion private equity firm.</strong></p2>
    </div>
  </div>
</section>

<!-- Cards -->
<section class="p-5">
  <div class="container-fluid">
    <h1 class="text-center">Our Statements</h1>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 mb-2">
        <div class="card h-100 bg-primary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-2">
              <i class="bi bi-bullseye"></i>
            </div>
            <h2 class="card-title">
              MISSION
            </h2>
            <p5 class="card-text">
              To pursue long term superior investment return <br>To be the catalyst for growth and progress
            </p5>
          </div>
        </div>
        <h1></h1>
      </div>
      <div class="col-md-6 col-lg-3 mb-2">
        <div class="card h-100 bg-primary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-2">
              <i class="bi bi-eye-fill"></i>
            </div>
            <h2 class="card-title">
              VISION
            </h2>
            <p5 class="card-text">
              The Pioneer <br>Lifelong Learning <br>Multi-generation Platform<br>&nbsp;
            </p5>
          </div>
        </div>
        <h1></h1>
      </div>
      <div class="col-md-6 col-lg-3 mb-2">
        <div class="card h-100 bg-primary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-2">
              <i class="bi bi-hand-thumbs-up-fill"></i>
            </div>
            <h2 class="card-title">
              CULTURE
            </h2>
            <p5 class="card-text">
              Sportsmanship <br>Perserverance <br>Pursuit of excellence
            </p5>
          </div>
        </div>
        <h1></h1>
      </div>
      <div class="col-md-6 col-lg-3 mb-2">
        <div class="card h-100 bg-primary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-2">
              <i class="bi bi-heart-fill"></i>
            </div>
            <h2 class="card-title">
              VALUES
            </h2>
            <p5 class="card-text">
              Be Truthful <br>Be Kind
            </p5>
          </div>
        </div>
        <h1></h1>
      </div>
    </div>
  </div>
</section>

<!-- Embed YouTube Video -->
<br>
<div class="container-fluid" style="width: 90%;">
  <h1 class="text-center">Vision Video</h1>
  <div class="row">
    <div class="col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ebe9ln6SexE" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}