{% extends "template.html" %}
{% block title %}Investment Philosophy - Twin Peaks Capital{% endblock %}
{% block content %}
<section class="p-5 bg-danger">
  <h1 class="text-center text-dark"><br>Our Investment Philosophy</h1>
  <div class="row g-4">
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-light text-center">
        <p1>First Principles<br>第一性原理，大道至简</p1>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-light text-center">
        <p1>Conviction based concentration<br>建立确信，集中投资</p1>
      </div>
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-light text-center">
        <p1>Long term, growth oriented investment<br>长期投资，成长驱动</p1>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-light text-center">
        <p1>Contrarian to herd mentality of greed and fear<br>克服人性的贪婪和恐惧</p1>
      </div>
    </div>
  </div>
  <h3 class="text-center text-dark">Total Capital, Stage Agnostic</h3>
  <div class="row g-4 mb-4">
    <div class="col-md-4 col-lg-4 mb-4">
      <div class="card h-100 bg-primary card-body">
        <h4>1. Insights Lead to Conviction</h4>
        <p3>True insight is only possible by staying constantly engaged with each individual company throughout its corporate life cycle.</p3>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
      <div class="card h-100 bg-primary card-body">
        <h4>2. Entrepreneurial Leaders Are Rare Assets</h4>
        <p3>Best time to acquire such asset and cultivate relationships is at their early growth stage, typically before IPO.</p3>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
      <div class="card h-100 bg-primary card-body">
        <h4>3. Balancing Private and Public Investors</h4>
        <p3>Balancing long-term holding mentality of private investors with the willingness to rectify mistakes swiftly for public investors.</p3>
      </div>
    </div>
  </div>
</section>
{% endblock %}