{% extends "template.html" %}
{% block title %}Investment Philosophy - Twin Peaks Capital{% endblock %}
{% block content %}
<section class="p-5">
  <h1 class="text-center">Our Investment Principles</h1>
  <div class="row g-4"> 
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-primary text-center text-light">
        <p1><br><br><strong>First Principles</strong><br><span style="font-family: 'Ma Shan Zheng', cursive;">第一性原理，大道至简</span><br><br>&nbsp;</p1>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-primary text-center text-light">
        <p1><br><br><strong>Conviction based concentration</strong><br><span style="font-family: 'Ma Shan Zheng', cursive;">建立确信，集中投资</span><br><br>&nbsp;</p1>
      </div>
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-primary text-center text-light">
        <p1><br><br><strong>Long term, growth oriented investment</strong><br><span style="font-family: 'Ma Shan Zheng', cursive;">长期投资，成长驱动</span><br><br>&nbsp;</p1>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card card-body h-100 bg-primary text-center text-light">
        <p1><br><br><strong>Contrarian to herd mentality of greed and fear</strong><br><span style="font-family: 'Ma Shan Zheng', cursive;">克服人性的贪婪和恐惧</span><br><br>&nbsp;</p1>
      </div>
    </div>
  </div>
</section>
{% endblock %}