{% extends "template.html" %}
{% block title %}Tim Xia - Twin Peaks Capital{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4">
        <img src="{{url_for('static',filename='timxia.jpg')}}" class="img-fluid" alt="Tim Xia">
      </div>
      <div class="col-md">
        <h1>
          Tim Xia, Founding Partner
        </h1>
        <p class="lead">Mr. Xia is a co-founder and partner at Twin Peaks Capital.</p>
        <div class="p">Prior to Twin Peaks Capital, Mr. Xia was a director at FountainVest Partners. Between 2011-2021, Mr. Xia was mostly involved in some of the most successful technology investments made by FountainVest Partners. <br><br>Prior to FountainVest Partners, Mr. Xia was an investment banker with China International Capital Corporation. <br><br>Mr. Xia is a native of Beijing, China. He graduated from University of International Business and Economics with double Bachelor degree in English and Finance in 2008.</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}