{% extends "template.html" %}
{% block title %} Team Members - Twin Peaks Capital{% endblock %}
{% block content %}
<!-- Team Members -->
<section id="team" class="p-5 bg-light">
  <h1 class="text-center text-dark"><br>Our Team Members</h1>
  <div class="row g-3">
    <div class="col-md-4 col-lg-4">
      <div class="card mb-3 bg-secondary text-light" style="width:90%; margin-left:auto;margin-right:auto">
        <img src="{{url_for('static',filename='terryhu.png')}}" class="rounded card-img-top" alt="Terry Hu">
        <div class="card-body">
          <h5 class="card-title">Terry Hu, Founding Partner</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad esse dolorem mollitia sapiente, blanditiis doloribus consectetur culpa distinctio nam ex illum? Aspernatur non velit cupiditate sint labore in quibusdam perferendis temporibus odio molestiae adipisci iure vero rem recusandae, fuga! Architecto nam minima quidem ipsam aut, fugiat iste aliquid esse voluptates sequi laborum quam natus ad error dolore, a aliquam, quaerat.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="card mb-3 bg-secondary text-light" style="width:90%; margin-left:auto;margin-right:auto">
        <img src="{{url_for('static',filename='ericchen.jpg')}}" class="rounded card-img-top" alt="Eric Chen">
        <div class="card-body">
          <h5 class="card-title">Eric Chen, Founding Partner</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad esse dolorem mollitia sapiente, blanditiis doloribus consectetur culpa distinctio nam ex illum? Aspernatur non velit cupiditate sint labore in quibusdam perferendis temporibus odio molestiae adipisci iure vero rem recusandae, fuga! Architecto nam minima quidem ipsam aut, fugiat iste aliquid esse voluptates sequi laborum quam natus ad error dolore, a aliquam, quaerat.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="card mb-3 bg-secondary text-light" style="width:90%; margin-left:auto;margin-right:auto">
        <img src="{{url_for('static',filename='timxia.jpg')}}" class="rounded card-img-top" alt="Tim Xia">
        <div class="card-body">
          <h5 class="card-title">Tim Xia, Founding Partner</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad esse dolorem mollitia sapiente, blanditiis doloribus consectetur culpa distinctio nam ex illum? Aspernatur non velit cupiditate sint labore in quibusdam perferendis temporibus odio molestiae adipisci iure vero rem recusandae, fuga! Architecto nam minima quidem ipsam aut, fugiat iste aliquid esse voluptates sequi laborum quam natus ad error dolore, a aliquam, quaerat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}